<app-header></app-header>
<div class="container-fluid">
  <h4>My Order History</h4>
  <div class="row">
    <div class="col-sm-10" style="background: #c3d6f5;border-radius: 24px;margin-left: 151px;" >
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Book Order Id</th>
            <th>Book Order Date</th>
            <th>Book Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of list">
            <td>{{ p.orderid }}</td>
            <td>{{ p.orderDate | date }}</td>
            <td>
              <table class="table table-sm" style="color: brown;">
                <thead>
                  <tr>
                    <th>Book Product</th>
                    <th>Book Price</th>
                    <th>Book Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let od of p.orderdetails">
                    <td>
                      <img
                        src="http://localhost:8080/{{ od.product.photo }}"
                        style="width: 60px"
                      />{{ od.product.pname }}
                    </td>
                    <td>{{ od.product.price }}</td>
                    <td>{{ od.qty }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
